[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
validate-email = "*"
six = "*"
codecov = "*"
pillow = "*"
psycopg2 = "==2.7.7"
django-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
