{% extends 'db/sidebar.html' %}

{% block title %}Tribarb | Bookings{% endblock %}

{% block page %}

<div class="db-items">
    <div class="card">
        <div class="card-heading db-card-headings">
            <h4 class="card-title text-center db-card-titles">
                Bookings
            </h4>
            
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-striped text-center">
				<thead>
					<tr class="db-card-headings db-card-titles">
 
                    
                    <th>Customer</th>
                    <th>Address</th>
                    <th>Booking Type</th>
                    <th>Requested Employee</th>
                    <th>Requested Time</th>
                    <th>Requested Services</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
				</thead>
				<tbody>
                    {% for booking in booking %}
                        <tr>
                       
                            <td>{{ booking.customer }}</td>
                            <td>{{ booking.address }}</td>
                            <td>{{ booking.get_booking_type_display}}</td>
                            <td>{{ booking.employee }}</td>
                            <td>{{ booking.requested_time|time }}</td>
                            <td>
                                {% for bd in booking.booking_details.all %}
                                    {{ bd.service }} - 
                                     {{ bd.sub_total }} <br/>
  
                                {% endfor %}
                            </td>
                            <td>{{ booking.total }}</td>
                            <td class="font-weight-bold">{{ booking.get_status_display }}</td>
                            <td>
                                {% if booking.status != 6 %}
                                    <form method="POST">
                                      {% csrf_token %}
                                      <input name="id" value="{{ booking.id }}" hidden>
                                      <button name="accept" class="btn {% if booking.status == 2 %} btn-success {% endif %} btn-outline-success text-dark">Accept</button>
                                      <button name="decline" class="btn {% if booking.status == 5 %} btn-danger {% endif %}  btn-outline-danger text-dark mt-2 ">Decline</button>
                                    </form>
                                {% endif %}
                                
                            </td>
                            
                        </tr>
                    {% endfor %}

                </tbody>
			</table>
        </div>
    </div>
    </div>

{% endblock %}