{% extends 'db/sidebar.html' %}

{% block title %}Tribarb | Bookings{% endblock %}

{% block page %}

<div class="db-items">
    <div class="card">
        <div class="card-heading db-card-headings">
            <h4 class="card-title text-center db-card-titles">
                Completed Bookings
            </h4>
            
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-striped text-center">
				<thead>
					<tr class="db-card-headings db-card-titles">
 
                    <th>Id</th>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>Booking Type</th>
                    <th>Assigned Employee</th>
                    <th>Requested Date & Time</th>
                    <th>Requested Services</th>
                    <th>Additional Requests</th>
                    <th>Total</th>
                    <th>Payment Mode</th>
                    <th>Status</th>
                  </tr>
				</thead>
				<tbody>
                    {% for booking in booking %}
                    {% if booking.status == 4 or booking.status == 5 or booking.status == 6 %}
                        <tr>
                            <td>{{ booking.id }}</td>
                            <td>{{ booking.customer }}</td>
                            <td>{{ booking.address }}</td>
                            <td>{{ booking.get_booking_type_display}}</td>
                            <td>{{ booking.employee }}</td>
                            <td>{{ booking.requested_time }}</td>
                            <td>
                                {% for bd in booking.booking_details.all %}
                                    {{ bd.service }} - 
                                     {{ bd.sub_total }} <br/>
  
                                {% endfor %}
                            </td>
                            <td>{{ booking.requests }}</td>
                            <td>{{ booking.total }}</td>
                            <td>{{ booking.get_payment_mode_display }}</td>
                            <td class="font-weight-bold">{{ booking.get_status_display }}</td>  
                        </tr>
                    {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    </div>

{% endblock %}