{% extends 'db/sidebar.html' %}
{% load bootstrap3 %}

{% block title %}Tribarb | Edit Service{% endblock %}

{% block page %}



<div class="db-items">
    <div class="card mb-4">
        <div class="card-heading db-card-headings">
            <h4 class="card-title text-center db-card-titles">
                Edit Service
            </h4>
            
        </div>
        <div class="card-body">
           
            
            <p></p>
            <input type="checkbox" id="createRadio" name="gender" value="create">
            <label for="female">Tick this box if you wish to create a new album, else you will be adding to the existing album.</label><br>

            <input type="file" multiple>
            
            <label>Service Name </label>
            <input type="text" id="service_name" class="form-control"  value="{{ service.service_name }}">
            <label>Description</label>
            <input type="text" id="short_description" class="form-control" value="{{ service.short_description }}">
            <label>Price</label>
            <input type="number" id="price" class="form-control"  value="{{ service.price }}">
        </br>
            <p>What kind of service is this? (Tick one or both)</p>

            {% if service.shop_service %}
            <input type="checkbox" id="shopService" value="shop" checked>
                <label>Shop Service</label><br>
            {% endif %}

            {% if not service.shop_service %}
            <input type="checkbox" id="shopService" value="shop">
                <label>Shop Service</label><br>
            {% endif %}

            {% if service.home_service %}
            <input type="checkbox" id="homeService" value="home" checked>
                <label>Home Service</label><br>
            {% endif %} 
            
            {% if not service.home_service %}
            <input type="checkbox" id="homeService" value="home">
                <label>Home Service</label><br>
            {% endif %} 

            <div class="text-center">
                <button type="button" id="saveBtn" class="btn btn-block btn-primary mt-4">Update Service</button>
            </div>
            
            <div class="text-center">
                <button type="button" id="delBtn" class="btn btn-block btn-sm btn-danger mt-4">Delete Service</button>
            </div>
        </div>
    </div>
</div>


    <script>
        const button = document.getElementById('saveBtn')

        document.addEventListener('DOMContentLoaded', function() {
            var files = []
            FilePond.registerPlugin(FilePondPluginFileValidateSize);
            FilePond.registerPlugin(FilePondPluginFileValidateType);
            FilePond.setOptions({
                allowMultiple:true,
                maxFiles:30,
                maxFileSize: '30MB'
            })
            const inputElement = document.querySelector('input[type="file"]');
            const pond = FilePond.create( inputElement, {
                acceptedFileTypes:['image/png', 'image/jpeg'],
                onaddfile: (err, fileItem) => {
                    if (!err) {
                    files.push(fileItem.file)
                    }
                    console.log(files)
                },
                onremovefile: (err, fileItem) => {
                    const index = files.indexOf(fileItem.file)
                    if (index > -1) {
                        files.splice(index, 1)
                    }
                    console.log(files)
                }
            } );

            var formData = new FormData();
            $(document).on('click', '#saveBtn', function(e) {
                button.disabled = true
                button.innerHTML = 'Updating...';
                
                if(document.getElementById('createRadio').checked) {
                    formData.append('albumUpdate', $('#createRadio').val())
                } else {
                    formData.append('albumUpdate', null)
                }

                if(document.getElementById('shopService').checked) {
                    formData.append('shopService', $('#shopService').val())
                } else {
                    formData.append('shopService', null)
                }

                if(document.getElementById('homeService').checked) {
                    formData.append('homeService', $('#homeService').val())
                } else {
                    formData.append('homeService', null)
                }
                
                formData.append('delete', false)
                formData.append('length', files.length)
                formData.append('service_name', $('#service_name').val())
                formData.append('short_description', $('#short_description').val())
                formData.append('price', $('#price').val())
                for (var i = 0; i < files.length; i++) {
                    formData.append('images' + i, files[i])
                }
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

                $.ajax({
                    type: 'POST',
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    success: function (){

                        window.location.href = "{% url 'shop-services' %}";
                    },
                    error: function(xhr, errmsg, err) {
                        button.disabled = false
                        button.innerHTML = "Update Service"
                        console.log(xhr.status + ":" + xhr.responseText)
                    }
                })
            })

            $(document).on('click', '#delBtn', function(e) {
                if (confirm('Are you sure you want to delete this service?')) {
                    formData.append('delete', true)
               
                    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

                    $.ajax({
                        type: 'POST',
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false,
                        enctype: 'multipart/form-data',
                        success: function (){
                            window.location.href = "{% url 'shop-services' %}";
                        },
                        error: function(xhr, errmsg, err) {
                            console.log(xhr.status + ":" + xhr.responseText)
                        }
                    })
                }       
            })
        })
    </script>

{% endblock %}
