{% extends 'db/sidebar.html' %}
{% load bootstrap3 %}

{% block title %}Tribarb | Services{% endblock %}

{% block page %}

<div class="db-items">
<div class="card">
    <div class="card-heading db-card-headings">
        <h4 class="card-title text-center db-card-titles">
            Employees
        </h4>
        
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover table-striped text-center">
            <thead>
                <tr class="db-card-headings db-card-titles">
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
     
              </tr>
            </thead>
            <tbody>
                {% for employee in employees %}

                    <tr>
                        <td>{{ employee.user.get_full_name }}</td>
                        <td>{{ employee.phone }}</td>
                        <td>{{ employee.user.email }}</td>
                       
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}