{% extends 'base-db.html' %}

{% block sidebar %}
<div class="text-center">
    <h1 class="card-title text-center" style="font-family:American Typewriter; color: white;">tribarb</h1>
    
</div>

<div class="text-center">
    <img class="rounded-circle" src="{{ MEDIA_URL}}{{ request.user.shop.logo }}" width="70" height="70"/>
    <br/>
    <br/>
    <h5 style="color:grey"> {{ request.user.shop.name }}</h5>
    <h4 class="Hello" style="color:#ffc36e "> Hi, {{ request.user.get_full_name }}</h4>   
</div>
    
<div class="list-group">
    <span class="text-uppercase " style="color:whitesmoke">Dashboard</span>

    <a href="{% url 'shop-bookings' %}" class="list-group-item">Bookings</a>

    <a href="{% url 'shop-services' %}" class="list-group-item">Services</a>

    <a href="{% url 'shop-employees' %}" class="list-group-item">Employees</a>

    <a href="{% url 'shop-reports' %}" class="list-group-item">Reports</a>

    <a href="{% url 'shop-account' %}" class="list-group-item">Account</a>
</div>


<div class="text-center">
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout" class="btn btn-warning font-weight-bold">
    </form>
</div>

    

{% endblock %}