{% extends 'base-db.html' %}

{% block script %}

<script>

    $(document).ready(function() {
        var now = new Date();
        setInterval(function() {
            $.ajax({
                url: '/api/booking/notification/' + now.toISOString() + '/',
                success: function(data) {
                    if (data['notification'] === 0) {
                        $('.badge').text('');
                    } else {
                        var myAudio = new Audio('http://s3.amazonaws.com/tribarb-media/knock.mp3');
                        myAudio.play();
                        $('.badge').text('NEW BOOKING');

                        setTimeout(function() {
                            location.reload();
                        }, 15000);
    
                    }
                }
            })
        }, 3000)
    })
</script>

{% endblock %}

{% block sidebar %}

{% url 'shop-bookings' as barber_booking_url %}
{% url 'shop-services' as barber_service_url %}
{% url 'shop-reports' as barber_report_url %}
{% url 'shop-employees' as barber_employees_url %}
{% url 'shop-account' as barber_account_url %}



<div class="text-center">
    <h1 class="card-title text-center" style="font-family:American Typewriter; color: white;">tribarb</h1>
    
</div>

<div class="text-center">
    <img class="rounded-circle" src="{{ MEDIA_URL}}{{ request.user.shop.logo }}" width="70" height="70"/>
    <br/>
    <br/>
    <h5 style="color:grey"> {{ request.user.shop.name }}</h5>
    <h4 class="Hello" style="color:#ffc36e "> Hi, {{ request.user.get_full_name }}</h4>   
</div>
    
<div class="list-group">
    <span class="text-uppercase " style="color:whitesmoke">Dashboard</span>
    
    <a href="{% url 'shop-bookings' %}" class="rounded-pill list-group-item {% if request.path == barber_booking_url %} active {% endif %}">
        Bookings
        <span class="badge"></span>	
    </a>

    <a href="{% url 'shop-services' %}" class="rounded-pill list-group-item {% if request.path == barber_service_url %} active {% endif %}">
        Services</a>

    <a href="{% url 'shop-employees' %}" class="rounded-pill list-group-item {% if request.path == barber_employees_url %} active {% endif %}">
        Employees</a>

    <a href="{% url 'shop-reports' %}" class="rounded-pill list-group-item {% if request.path == barber_report_url %} active {% endif %}">
       Reports</a>

    <a href="{% url 'shop-account' %}" class="rounded-pill list-group-item {% if request.path == barber_account_url %} active {% endif %}">
       Account</a>
</div>


<div class="text-center">
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout" class="btn btn-warning font-weight-bold">
    </form>
</div>

    

{% endblock %}