{% extends 'base-db.html' %}

{% block script %}

<script>
    $(document).ready(function() {
        var now = new Date();
        setInterval(function() {
            $.ajax({
                url: '/api/booking/notification/' + now.toISOString() + '/',
                success: function(data) {
                    if (data['notification'] != 0) {
                        $('.badge').text(data['notification']);
                     }
                }
            })
        }, 3000)
        
    })
</script>

{% endblock %}

{% block sidebar %}

{% url 'shop-bookings' as barber_booking_url %}
{% url 'shop-services' as barber_service_url %}
{% url 'shop-reports' as barber_report_url %}
{% url 'shop-employees' as barber_employees_url %}
{% url 'shop-account' as barber_account_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a style="font-family:American Typewriter;" class="navbar-brand" href="{% url 'shop-bookings' %}">
        <img src="https://tribarb-media-bucket.s3-ap-southeast-1.amazonaws.com/website-logo/website-logo.png" width="150" height="45" class="d-inline-block align-top" alt="">
    </a>
   

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item {% if request.path == barber_booking_url %} current {% endif %}">
          <a class="rounded nav-link" href="{% url 'shop-bookings' %}">Bookings <span class="badge"></span>	</a>
        </li>

        <li class="nav-item {% if request.path == barber_service_url %} current {% endif %}">
          <a class="rounded nav-link" href="{% url 'shop-services' %}">Services</a>
        </li>

        <li class="nav-item {% if request.path == barber_employees_url %} current {% endif %}">
          <a class="rounded nav-link" href="{% url 'shop-employees' %}">Barbers</a>
        </li>

        <li class="nav-item {% if request.path == barber_report_url %} current {% endif %}">
            <a class="rounded nav-link" href="{% url 'shop-reports' %}">Reports</a>
        </li>

        <li class="nav-item {% if request.path == barber_account_url %} current {% endif %}">
            <a class="rounded nav-link" href="{% url 'shop-account' %}">Account</a>
        </li>

      </ul>

      <span class="navbar-text">
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Logout" class="btn btn-sm btn-warning font-weight-bold">
        </form>
      </span>

    </div>
</nav>
    
{% endblock %}