{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>tribarb desktop</title>
</head>


<body>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <div class="card mt-5">
                        
                        <h1 class="card-title text-center" style="font-family:American Typewriter; font-size:500%;">tribarb</h1>
                        

                        {% block content %}


                         {% endblock %}

                    </div>

                </div>
                 <div class="col-md-2"></div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</body>
</html>