{% extends 'base-auth.html'%}
{% load static %}

{% block title %}Tribarb | Reset Link{% endblock %}

{% block content%}
    
<div class="card-body">
    <h2 class="text-center card-title" style="color: whitesmoke;">Activate Your Account</h2>
    <p style="color: whitesmoke;">We've sent you an email with an activation link. Simply click the link to activate your account. <br><br> Make sure to check your spam folder if you cannot find the email in your inbox. If you do not receive it within the hour, please email us at <a href="mailto:tribarbapp@gmail.com?subject=Activation Email">tribarbapp@gmail.com</a> with the subject line 'Activation Email'.</p>

</div>

       
{% endblock %}
