{% extends 'base-auth.html' %}
{% load static %}

{% block content %}

<div class="card-body">
    <h5 class="text-center card-title text-muted">User Registration</h5>

    {% include 'partials/_flash_messsages.html' %}

    <form action="{% url 'register' %}" method="post">

        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="email" name="email" value="{{data.email}}" placeholder="Email">
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="first_name" value="{{data.first_name}}" placeholder="First Name">
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="last_name" value="{{data.last_name}}" placeholder="Last Name">
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="username" value="{{data.username}}" placeholder="Username">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" name="password" value="" placeholder="Password">
        </div>

        <div class="form-group">
            <input class="form-control" type="password" name="password2" value="" placeholder="Confirm Password">
        </div>

        <input type="submit" value="Register" class="text-white font-weight-bold btn btn-lg btn-block btn-warning"/>
    </form>

    <div style="padding-top: 15px; padding-bottom: 15px;">
        <small class="py-3">
            By signing up, you agree to our <b>Terms</b>, <b>Data Policy</b> and <b>Cookies Policy</b>.
        </small>
    </div>

    <div class="card-footer bg-transparent text-center" style="padding-top: 15px; padding-bottom: 0px;">
        Have an account?<a href="{% url 'login' %}"> Log In</a>
    </div>
</div>

{% endblock %}