{% extends 'base-auth.html'%}
{% load static %}

{% block title %}Tribarb | Reset Link{% endblock %}

{% block content%}
    
<div class="card-body">
    <p class="card-title" style="color: whitesmoke;">Provide the email you registered with to receive password reset instructions.</p>

    {% include 'partials/_flash_messsages.html' %}

    <form style="padding-bottom:20px;" action="{% url 'request-reset-email' %}" method="post">

        {% csrf_token %}

        <div class="form-group">
            <input class="form-control" type="email" name="email" value="{{data.email}}" placeholder="Email">
        </div>
        
        <input type="submit" value="Submit" style=" color:#333;" class="font-weight-bold btn btn-md btn-block btn-warning"/>

    </form>

    <div class="card-footer bg-transparent text-center" style="padding-top: 15px; padding-bottom: 0px; border-color: whitesmoke;">
        <p style="color: whitesmoke;">Have an account?<a href="{% url 'login' %}"> Log In</a></p>
    </div>
</div>

       
{% endblock %}
