{% extends 'base-auth.html'%}
{% load static %}

{% block title %}Tribarb | Reset Password{% endblock %}

{% block content%}

<div class="card-body">
    <p style="color: whitesmoke;" class="card-title">Create a password at least 6 characters long.</p>

    {% include 'partials/_flash_messsages.html' %}

    <form style="padding-bottom:20px;" action="{% url 'set-new-password' uidb64 token %}" method="post">

        {% csrf_token %}

        <div class="form-group">
        <input class="form-control" id="myInput1" type="password" name="password" value="" placeholder="Password">
        </div>

        <div class="form-group">
        <input class="form-control" id="myInput2" type="password" name="password2" value="" placeholder="Confirm Password">
        <div style="color: whitesmoke;">  <input type="checkbox" onclick="myFunction()"> Show Password</div> 
        </div>

        <input type="submit" value="Reset Password" style="color:#333;" class="font-weight-bold btn btn-md btn-block btn-warning"/>

    </form>
    <div class="card-footer bg-transparent text-center" style="padding-top: 15px; padding-bottom: 0px; border-color: whitesmoke;">
        <p style="color: whitesmoke;">Have an account?<a href="{% url 'login' %}"> Log In</a></p>
    </div>

</div>


<script>
    function myFunction() {
    var x = document.getElementById("myInput1");
    var y = document.getElementById("myInput2");
    if (x.type === "password" && y.type === "password") {
        x.type = "text";
        y.type = "text";
    } else {
        x.type = "password";
        y.type = "password";
    }
    }
</script>
                          
{% endblock %}
